<div class="landing-container">
    <div class="card">
      <h1>Welcome to the BlueBus </h1>
      <p>Effortlessly book your tickets, manage schedules, and access detailed bus information.</p>
  
      <div class="button-group">
        <div class="button-section">
          <h2>User Access</h2>
          <button (click)="navigateToUserLogin()" class="btn btn-primary">User Login</button>
          <button (click)="navigateToUserSignup()" class="btn btn-secondary">User Sign Up</button>
        </div>
  
        <div class="button-section">
          <h2>Admin Access</h2>
          <button (click)="navigateToAdminLogin()" class="btn btn-tertiary">Admin Login</button>
        </div>
      </div>
    </div>
  </div>
  